body {
	background: #333;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 0px;
	margin: 0px;
  }
  body .container {
	width: 112px;
	height: 112px;
  }
  body .container .box1,
  body .container .box2,
  body .container .box3 {
	box-sizing: border-box;
	position: absolute;
	display: block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #f67818;
  }
  body .container .box1 {
	margin-top: 64px;
	margin-left: 0px;
	animation: anime1 3s 0s forwards ease-in-out infinite;
	background: #f00;
  }
  body .container .box2 {
	margin-top: 0px;
	margin-left: 64px;
	animation: anime2 3s 0s forwards ease-in-out infinite;
	background: #00f;
  }
  body .container .box3 {
	margin-top: 64px;
	margin-left: 64px;
	animation: anime3 3s 0s forwards ease-in-out infinite;
	background: #008000;
  }
  @-moz-keyframes anime1 {
	0% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	12.5% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	25% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	37.5% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	50% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	62.5% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	75% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	87.5% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	100% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
  }
  @-webkit-keyframes anime1 {
	0% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	12.5% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	25% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	37.5% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	50% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	62.5% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	75% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	87.5% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	100% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
  }
  @-o-keyframes anime1 {
	0% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	12.5% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	25% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	37.5% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	50% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	62.5% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	75% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	87.5% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	100% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
  }
  @keyframes anime1 {
	0% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	12.5% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	25% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	37.5% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	50% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	62.5% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	75% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	87.5% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	100% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
  }
  @-moz-keyframes anime2 {
	0% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	12.5% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	25% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	37.5% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	50% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	62.5% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	75% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	87.5% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	100% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
  }
  @-webkit-keyframes anime2 {
	0% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	12.5% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	25% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	37.5% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	50% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	62.5% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	75% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	87.5% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	100% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
  }
  @-o-keyframes anime2 {
	0% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	12.5% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	25% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	37.5% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	50% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	62.5% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	75% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	87.5% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	100% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
  }
  @keyframes anime2 {
	0% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	12.5% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	25% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	37.5% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	50% {
	  margin-top: 0px;
	  margin-left: 0px;
	}
	62.5% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	75% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	87.5% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	100% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
  }
  @-moz-keyframes anime3 {
	0% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	12.5% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	25% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	37.5% {
	  margin-top: 64px;
	  margin-left: 64px;
	}
	50% {
	  margin-top: 64px;
	  margin-left: 64px;
	}
	62.5% {
	  margin-top: 64px;
	  margin-left: 64px;
	}
	75% {
	  margin-top: 64px;
	  margin-left: 64px;
	}
	87.5% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	100% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
  }
  @-webkit-keyframes anime3 {
	0% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	12.5% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	25% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	37.5% {
	  margin-top: 64px;
	  margin-left: 64px;
	}
	50% {
	  margin-top: 64px;
	  margin-left: 64px;
	}
	62.5% {
	  margin-top: 64px;
	  margin-left: 64px;
	}
	75% {
	  margin-top: 64px;
	  margin-left: 64px;
	}
	87.5% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	100% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
  }
  @-o-keyframes anime3 {
	0% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	12.5% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	25% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	37.5% {
	  margin-top: 64px;
	  margin-left: 64px;
	}
	50% {
	  margin-top: 64px;
	  margin-left: 64px;
	}
	62.5% {
	  margin-top: 64px;
	  margin-left: 64px;
	}
	75% {
	  margin-top: 64px;
	  margin-left: 64px;
	}
	87.5% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	100% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
  }
  @keyframes anime3 {
	0% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	12.5% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	25% {
	  margin-top: 0px;
	  margin-left: 64px;
	}
	37.5% {
	  margin-top: 64px;
	  margin-left: 64px;
	}
	50% {
	  margin-top: 64px;
	  margin-left: 64px;
	}
	62.5% {
	  margin-top: 64px;
	  margin-left: 64px;
	}
	75% {
	  margin-top: 64px;
	  margin-left: 64px;
	}
	87.5% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
	100% {
	  margin-top: 64px;
	  margin-left: 0px;
	}
  }
  